@import '../variables.scss';


.footer{
  padding: 60px 0;
  position: relative;
  z-index: 2;
  background-color: $blockBg;
  &__logo{
    display: inline-block;
    margin: 0 0 35px;
    width: 135px;
    &-link{
      width: 100%;
    }
  }
  &__row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
  }
  &__col{
    width: 1 / 3 * 100%;
    padding: 0 20px;
  }
  &-contacts{
    display: flex;
    font-weight: 400;
    font-size: 16px;
    color: $descrColor;
    line-height: 22px;
    &__address{
      margin: 0 0 35px;
      transition: all 300ms ease;
      &:hover{
        color: $red;
      }
    }
    &__phone{
      transition: all 300ms ease;
      &:hover{
        color: $red;
      }
    }
  }
  &__icons{
    display: flex;
    align-items: center;
    &_link{
      margin-right: 30px;
      svg{
        path{
          transition: all 300ms ease; 
        }
      }
      &:hover{
        svg{
          path{
            fill: $red;
          }
        }
      }
    }
  }
  &__text{
    font-size: 16px;
    line-height: 1.15;
    color: $descrColor;
    font-weight: 300;
    margin: 0 0 40px;
  }
  &__title{
    font-size: 24px;
    line-height: 1.15;
    color: $titleColor;
    margin: 0 0 22px;
    font-weight: 300;
  }
  &__mail{
    font-size: 16px;
    line-height: normal;
    color: $descrColor;
    font-weight: 400;
    margin: 0 0 40px;
    line-height: 22px;
    a{
      transition: all 300ms ease;
      &:hover{
        color: $red;
      }
    }
  }
  &__link{
    font-size: 16px;
    line-height: 1.15;
    color: $descrColor;
    margin: 0 0 23px;
    font-weight: 300;
    &:first-child{
      white-space: nowrap;
    }
    &:last-child{
      margin: 0;
    }
  }
  @media screen and (max-width: 768px){
    padding: 30px 0;
    &__logo{
      width: 80px;
      margin: 0 0 30px;
    }
    &__text{
      font-size: 12px;
      line-height: normal;
      margin: 0 0 20px; 
    }
    &-contacts{
      font-size: 12px;
      line-height: normal;
      line-height: 16px;
      &__address{
        margin: 0 0 11px;
      }
    }
    &__mail{
      font-size: 12px;
      margin: 0 0 35px;
    }
    &__icons{
      &_link{
        margin-right: 25px;
        height: 14px;
        svg{
          height: 100%;
        }
      }
    }
  }
  @media screen and (max-width: 540px){
    &__row{
      margin: 0 -6px;
    }
    &__col{
      width: 1 / 2 * 100%;
      padding: 0 6px;
      margin: 0 0 30px;
      &:first-child{
        order: 3;
        margin: 0;
      }
      &:last-child{
        order: 2;
      }
      &:nth-child(2){
        order: 1;
      }
    }
  }
}