@import '../variables.scss';

.process-head{
  padding: 300px 0 50px;
  text-align: center;
  position: relative;
  min-height: 100vh;
  &__paralax{
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    background-image: url('/assets/process/process-bg2.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto 100%;
    z-index: 1;
  }
  .container{
    position: relative;
    z-index: 2;
  }
  &__title{
    font-size: 44px;
    color: $titleColor;
    font-weight: 300;
    margin: 0 0 30px;
  }
  &__descr{
    font-size: 30px;
    color: $subColor;
    font-weight: 300;
    max-width: 650px;
    margin: 0 auto;
  }
  @media screen and (min-width: 1700px){
    min-height: 1px;
    padding-bottom: 200px;
  }
  @media screen and (max-width: 1300px){
    padding: 220px 0 100px
  }
  @media screen and (max-width: 1024px){
    min-height: 1px;
    &__title{
      font-size: 34px;
    }
  }
  @media screen and (max-width: 768px){
    padding: 140px 0 80px;
    &__descr{
      font-size: 24px
    }
  }
  @media screen and (max-width: 540px){
    padding: 140px 0 50px;
    &__title{
      font-size: 18px;
      margin: 0 0 20px;
    }
    &__descr{
      font-size: 14px;
      // max-width: 220px;
    }
  }
}