@import '../variables.scss';

.popup{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url('/assets/About/block-bg.png');
  visibility: hidden;
  opacity: 0;
  z-index: 200;
  &.open{
    visibility: visible;
    opacity: 1;
  }
  &__bg{
    background-image: url('/assets/Popup/popup-bg.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  &__success{
    display: none;
    text-align: center;
    color: #fff;
    padding: 30px;
    position: relative;
    &_top{
      font-size: 22px;
      margin: 0 0 10px; 
    }
    &_btn{
      margin-top: 15px;
      max-width: 100px;
      width: 100%;
    }
    &.visible{
      display: block;
    }
  }
  &__container{
    max-width: 600px;
    width: 100%;
    background-color: #0A0A0A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 60px;
    position: relative;
    text-align: center;
    &.hidden{
      display: none;
    }
  }
  &__close{
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    &.success{
      top: 0;
      right: 0;
    }
  }
  &__title{
    text-align: center;
    color: $titleColor;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 0 35px;
  }
  &__box{
    width: 100%;
    margin: 0 0 30px;
  }
  &__label{
    width: 100%;
    color: #B4B4B4;
    font-weight: 300;
    margin-bottom: 20px;
    display: block;
    text-align: left;
    position: relative;
    height: 42px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .react-phone-number-input__country--native{
      left: -40px;
      position: absolute;
      top: 20px;
      @media screen and (max-width: 540px){
        right: 0;
        left: auto;
      }
    }
    p{
      position: absolute;
      top: 21px;
      font-size: 14px;
      transition: all 300ms ease;
    }
    &.text{
      margin-bottom: 5px;
    }
    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      z-index: 2;
      height: 1px;
      background-color: #fff;
      transform: scaleX(0);
      transition: all 300ms ease;
    }
    &.focus{
      &::after{
        transform: scaleX(1);
      }
      p{
        top: 0;
        font-size: 10px;
        color: #fff;
      }
    }
  }
  .textarea,
  input{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(196, 196, 196, 0.5);
    appearance: none;
    color: $titleColor;
    font-size: 14px;
    font-weight: 300;
    // line-height: 20px;
    margin-top: 5px;
    &:-webkit-autofill{
      box-shadow: 0 0 0 30px #0A0A0A inset !important;
      -webkit-text-fill-color: $titleColor !important;
    }
    &:focus{
      outline: none;
    }
  }
  textarea{
    height: 23px;
    resize: none;
  }
  &__file{
    text-align: right;
    display: none;
    img{
      cursor: pointer;
    }
  }
  .submit{
    background-color: $red;
    display: inline-block;
    width: auto;
    padding: 13px 22px;
    cursor: pointer;
    text-transform: uppercase;
    line-height: normal;
    font-size: 14px;
    font-weight: 600;
    border: none;
  }
  @media screen and (max-width: 540px){
    &__container{
      padding: 40px 20px;
    }
    &__title{
      font-size: 18px;
      margin: 0 0 20px;
    }
    &__close{
      top: 10px;
      right: 10px;
    }
  }
}